In [24]:
def round_to_2(x):
    """
    Принимает число и возвращает результат его округления
    до двух знаков после запятой.
    
    Аргументы:
        x: число.
        
    Возвращаемое значение:
        результат округления числа до двух знаков после запятой.
    """
    
    return round(x, 2)

In [11]:
def custom_compare(x, y):
    if str(x) != str(y):
        raise RuntimeError(f'Ожидаемое значение: {y}. Фактическое: {x}')

# Разбиение строки по разделителю

In [25]:
def split_line(line, sep):
    """
    Разбивает строку по разделителю, учитывая кавычки.
    
    Аргументы:
        line: строка для разбиения
        sep: разделитель (один символ, не двойная кавычка)
        
    Возвращает:
        Список значений между разделителями, без кавычек
    """
    if not line:
        return ['']
    
    result = []
    current = []
    in_quotes = False
    
    i = 0
    while i < len(line):
        if line[i] == '"':
            if in_quotes:
                # Закрывающая кавычка - завершаем текущее значение
                in_quotes = False
                i += 1
            else:
                # Открывающая кавычка - начинаем новое значение в кавычках
                in_quotes = True
                i += 1
        elif line[i] == sep and not in_quotes:
            # Добавляем текущее значение в результат
            result.append(''.join(current))
            current = []
            i += 1
        else:
            # Добавляем символ к текущему значению
            current.append(line[i])
            i += 1
    
    # Добавляем последнее значение
    result.append(''.join(current))
    
    return result

In [26]:
def read_split_line_tests():
    example_1_line = 'Александр Александрович Александров,,2005,11'
    example_1_sep = ','
    example_1_res = ['Александр Александрович Александров', '', '2005', '11']
    
    custom_compare(split_line(example_1_line, example_1_sep), example_1_res)
    
    example_2_line = 'Евгений Сергеевич Дёмин;;'
    example_2_sep = ';'
    example_2_res = ['Евгений Сергеевич Дёмин', '', '']
    
    custom_compare(split_line(example_2_line, example_2_sep), example_2_res)
    
    example_3_line = 'Анна Павловна Иванова,"[запись 1, запись 2, запись 3]", ,2'
    example_3_sep = ','
    example_3_res = ['Анна Павловна Иванова', '[запись 1, запись 2, запись 3]', ' ', '2']
    
    custom_compare(split_line(example_3_line, example_3_sep), example_3_res)
    
    print('Все тесты прошли успешно!')

In [27]:
read_split_line_tests()

Все тесты прошли успешно!

# Чтение csv-файла

In [28]:
def read_csv_and_calc_mean(lines, sep, column_name):
    """
    Принимает список строк из csv-файла и возвращает среднее значение в заданной колонке.
    Гарантируется, что в первой строке csv-файла всегда представлены названия его колонок.
    
    Аргументы:
        lines: список строк, прочитанных из csv-файла.
        sep: разделитель, который используется в строках для отделения различных значений.
        column_name: название колонки с целочисленными значениями, по которой нужно посчитать среднее.
        
    Возвращаемое значение:
        среднее значение в заданной колонке, округлённое до двух знаков
        после запятой с помощью функции round_to_2.
    """
    names = split_line(lines[0], sep)
    column = 0
    for i in range(len(names)):
        if names[i] == column_name:
            column = i
            break
    sm = 0
    for i in range(1, len(lines)):
        names = split_line(lines[i], sep)
        sm+=int(names[column])
    return round_to_2(sm/(len(lines)-1))
    
    pass

In [29]:
def read_csv_and_calc_mean_tests():
    example_1_lines = [
        'id,ФИО,Возраст,Город',
        '1,Петров Пётр Петрович,21,Москва',
        '2,Марьина Марина Леонидовна,18,Новороссийск',
        '3,Иванова Елена Ивановна,34,Пермь'
    ]
    example_1_sep = ','
    example_1_column = 'Возраст'
    example_1_res = 24.33
    
    custom_compare(read_csv_and_calc_mean(example_1_lines, example_1_sep, example_1_column), example_1_res)
    
    example_2_lines = [
        'Число реакций,id записи',
        '234,1',
        '361,2',
        '177,3',
        '32,4',
        '670,5'
    ]
    example_2_sep = ','
    example_2_column = 'Число реакций'
    example_2_res = 294.8
    
    custom_compare(read_csv_and_calc_mean(example_2_lines, example_2_sep, example_2_column), example_2_res)
    
    print('Все тесты прошли успешно!')

In [30]:
read_csv_and_calc_mean_tests()

Все тесты прошли успешно!