## Установка pandas

In [1]:
!pip3 install pandas

Requirement already satisfied: pandas in c:\users\marusya\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\marusya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\marusya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\marusya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\marusya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\marusya\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

## Чтение данных и фильтрация таблиц

In [32]:
user = pd.read_csv('user.csv')
user['birthday'] =\
    pd.to_datetime(user['birthday'], format='%d.%m.%Y')
user['last_visited'] =\
    pd.to_datetime(user['last_visited'], format='%d.%m.%Y %H:%M:%S')
#mean_grade = user['grade'].dropna().mean().round()
user['grade'] = user['grade'].fillna(0).astype('int')

### Задание 1

Сколько в таблице `user` представлено учеников, родившихся в сентябре?

In [12]:
ans = len(user[user['birthday'].dt.month == 9])
print(ans)

73

### Задание 2

Какое количество учеников в последний раз посещали платформу в первые $14$ дней сентября?

In [22]:
user1 = user[user['last_visited'] > pd.to_datetime('31.08.2023 23:59:59',  format='%d.%m.%Y %H:%M:%S')]
ans = len(user1[user1['last_visited'] <= pd.to_datetime('14.09.2023 23:59:59',  format='%d.%m.%Y %H:%M:%S')])
print(ans)

377

### Задание 3

На сколько в данных больше девятиклассников, чем девятиклассниц?

In [29]:
user9 = user[user['grade'] == 9]
girls = len(user9[user9['gender'] == 'Ж'])
boys = len(user9[user9['gender'] == 'М'])
print(boys - girls)

5

### Задание 4

Какой процент учеников, у которых указан класс, обучается в $9$-м классе?

Ответ округлите до целых.

In [34]:
userg = user[user['grade'] != 0]
nine = userg[userg['grade'] == 9]
print(len(nine)/len(userg))

0.23706377858002406

### Задание 5

Сколько в данных представлено учеников из регионов, в названиях которых в качестве подстроки содержится слово «город»?

При расчёте статистики приведите названия регионов к строчному написанию.

In [31]:
ans = len(user[user['region']\
    .str.lower()\
    .str.contains('город')])
print(ans)

765

## Группировка, агрегация и соединение таблиц

In [3]:
course = pd.read_csv('course.csv')

In [4]:
user_course_progress = pd.read_csv('user_course_progress.csv')

**Относительным прогрессом** будем называть отношение суммарного числа баллов, которые ученик набрал за курс (колонка `progress` в таблице `user_course_progress`), к максимальному количеству баллов, которые ученик в принципе мог набрать за данный курс (колонка `max_progress` в таблице `course`).

С помощью представленных данных найдите ответ на следующий вопрос: в курсах какого предмета больше всего учеников, чей относительный прогресс не меньше $0.8$?

В рамках следующих заданий вам будет предложено, действуя поэтапно, найти ответ на этот вопрос.

### Задание 1

Произведите соединение таблиц `course` и `user_course_progress`.

В качестве ответа укажите количество строчек итоговой таблицы, в которых представлены ученики курсов по химии.

In [7]:
user_course = course.merge(user_course_progress, left_on='id', right_on='course_id')
ans = len(user_course[user_course['subject'] == 'Химия'])
display(user_course)
print(ans)

      id     subject date_started  max_score  user_id  course_id  progress
0      1       Химия   2023-04-04      108.0      392          1     31.68
1      1       Химия   2023-04-04      108.0      217          1     97.53
2      1       Химия   2023-04-04      108.0      843          1     81.50
3      1       Химия   2023-04-04      108.0      417          1     15.92
4      1       Химия   2023-04-04      108.0      605          1    103.31
...   ..         ...          ...        ...      ...        ...       ...
1706  10  Математика   2023-02-18      104.0      898         10      8.01
1707  10  Математика   2023-02-18      104.0      201         10      0.71
1708  10  Математика   2023-02-18      104.0      334         10      1.90
1709  10  Математика   2023-02-18      104.0      112         10      2.16
1710  10  Математика   2023-02-18      104.0      255         10      5.99

[1711 rows x 7 columns]

678

### Задание 2

Обратите внимание, что у части курсов нет значения в колонке `max_score`. Уберите из полученной в предыдущем задании таблицы все строчки, в которых пропущено значение колонки `max_score`.

В качестве ответа укажите количество строчек в итоговой таблице.

In [8]:
user_course_clean = user_course.dropna(subset=['max_score'])
print(len(user_course_clean))

1031

### Задание 3

Добавьте в полученную в предыдущем задании таблицу колонку `relative_progress`, в которой для каждого ученика будет храниться значение его относительного прогресса в конкретном курсе.

В качестве ответа укажите среднее значение относительного прогресса в таблице. Ответ округлите до двух знаков после запятой с помощью функции `round`, которая встроена в Series.

In [12]:
user_course_clean['relative_progress'] = (user_course_clean['progress'] / user_course_clean['max_score'])
mean_relative_progress = user_course_clean['relative_progress'].mean().round(2)
display(user_course_clean)
print(mean_relative_progress)

C:\Temp\ipykernel_11656\1910882031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_course_clean['relative_progress'] = (user_course_clean['progress'] / user_course_clean['max_score'])

,id,subject,date_started,max_score,user_id,course_id,progress,relative_progress
0,1,Химия,2023-04-04,108.0,392,1,31.68,0.293333
1,1,Химия,2023-04-04,108.0,217,1,97.53,0.903056
2,1,Химия,2023-04-04,108.0,843,1,81.50,0.754630
3,1,Химия,2023-04-04,108.0,417,1,15.92,0.147407
4,1,Химия,2023-04-04,108.0,605,1,103.31,0.956574
...,...,...,...,...,...,...,...,...
1706,10,Математика,2023-02-18,104.0,898,10,8.01,0.077019
1707,10,Математика,2023-02-18,104.0,201,10,0.71,0.006827
1708,10,Математика,2023-02-18,104.0,334,10,1.90,0.018269
1709,10,Математика,2023-02-18,104.0,112,10,2.16,0.020769
1710,10,Математика,2023-02-18,104.0,255,10,5.99,0.057596

0.35

### Задание 4

Оставьте в полученной в предыдущем задании таблице только те строчки, в которых значение относительного прогресса не меньше $0.8$.

В качестве ответа укажите число строчек в получившейся таблице.

In [13]:
user_crs = user_course_clean[user_course_clean['relative_progress'] >= 0.8]
display(user_crs)
print(len(user_crs))

,id,subject,date_started,max_score,user_id,course_id,progress,relative_progress
1,1,Химия,2023-04-04,108.0,217,1,97.53,0.903056
4,1,Химия,2023-04-04,108.0,605,1,103.31,0.956574
25,1,Химия,2023-04-04,108.0,720,1,105.11,0.973241
28,1,Химия,2023-04-04,108.0,679,1,97.80,0.905556
29,1,Химия,2023-04-04,108.0,364,1,92.21,0.853796
...,...,...,...,...,...,...,...,...
1690,10,Математика,2023-02-18,104.0,768,10,98.52,0.947308
1691,10,Математика,2023-02-18,104.0,169,10,94.64,0.910000
1696,10,Математика,2023-02-18,104.0,46,10,84.48,0.812308
1697,10,Математика,2023-02-18,104.0,254,10,100.76,0.968846
1700,10,Математика,2023-02-18,104.0,802,10,101.47,0.975673

159

### Задание 5

Произведите группировку строчек таблицы по предметам и посчитайте, сколько учеников с относительным прогрессом не меньше $0.8$ оказалось в каждом из предметов.

В качестве ответа заполните таблицу, в которой каждому предмету сопоставлено число таких учеников.

Если один и тот же ученик учился в разных курсах одного и того же предмета и в каждом из этих курсов достиг относительного прогресса не менее $0.8$, при подсчёте учтите его несколько раз.

In [17]:
user_crs.groupby('subject', as_index=False).agg({'user_id': 'count'})

      subject  user_id
0  Математика       30
1      Физика       24
2       Химия      105

### Задание 6

В курсах какого предмета больше всего учеников, достигших относительного прогресса не менее $0.8$?